name: Bun build and test

on:
  workflow_call

jobs:
  build-and-test:
    name: Build and test
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Install project
        run: bun install
      - name: Test project
        run: bun test
