name: Auto-merge Dependabot PR for minor & patch dependencies
on:
  workflow_call:
    inputs:
      pr-number:
        description: 'Pull request number'
        required: true
        type: number

permissions:
  contents: write
  pull-requests: write

jobs:
  dependabot-auto-merge:
    if: github.actor == 'dependabot[bot]'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Fetch Dependabot metadata
        id: metadata
        uses: dependabot/fetch-metadata@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Enable auto-merge for minor and patch updates
        if: |
          steps.metadata.outputs.update-type == 'version-update:semver-minor' ||
          steps.metadata.outputs.update-type == 'version-update:semver-patch'
        run: gh pr merge --squash --auto "${{ inputs.pr-number }}"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
