name: Gradle build and test
on:
  workflow_call

jobs:
  build-and-test:
    name: Build and test
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'microsoft'
          java-version: '21'
          cache: 'gradle'
      - name: Make ./gradlew executable
        run: chmod 777 ./gradlew
      - name: Build
        run: ./gradlew build
      - name: Run tests
        run: ./gradlew test
