name: Node build and test

on:
  workflow_call

jobs:
  build-and-test:
    name: Build and test
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 16
      - name: Install project
        run: npm ci
      - name: Test project
        run: npm test
