name: Node publish to npm

on:
  workflow_call:
    secrets:
      NPM_TOKEN:
        required: true

env:
  VERSION: ${{github.event.release.tag_name}}

jobs:
  publish-to-npm:
    name: Build, test and publish to npm
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/
      - name: Install project
        run: npm ci
      - name: Test project
        run: npm test
      - name: Create .npmrc
        run: echo "//registry.npmjs.org/:_authToken=${{secrets.NPM_TOKEN}}" > .npmrc
      - name: Publish to npm
        run: |
          npm config set git-tag-version=false
          npm version ${{env.VERSION}}
          npm publish
