name: Node publish to npm

on:
  workflow_call:

permissions:
  id-token: write

env:
  VERSION: ${{github.event.release.tag_name}}

jobs:
  publish-to-npm:
    name: Build, test and publish to npm
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/
      - name: Update npm
        run: npm install -g npm@latest
      - name: Set up Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Install project
        run: bun install --frozen-lockfile
      - name: Test project
        run: bun test
      - name: Publish to npm
        run: |
          npm config set git-tag-version=false
          npm version ${{env.VERSION}}
          npm publish
